<div id="<%= dom_id score %>">
  <p>
    <strong>Teama:</strong>
    <%= score.TeamA %>
  </p>

  <p>
    <strong>Teamb:</strong>
    <%= score.TeamB %>
  </p>

  <p>
    <strong>Logoa:</strong>
    <%= score.LogoA %>
  </p>

  <p>
    <strong>Logob:</strong>
    <%= score.LogoB %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= score.Date %>
  </p>

  <p>
    <strong>Resulta:</strong>
    <%= score.ResultA %>
  </p>

  <p>
    <strong>Resultb:</strong>
    <%= score.ResultB %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= score.Description %>
  </p>

</div>
