<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <img src="<%= score.LogoA %>"> <img src="<%= score.LogoB %>">
    <h5 class="card-title"><%= score.TeamA %> vs <%= score.TeamB %></h5>
    <p class="card-score"><%= score.ResultA %> à <%= score.ResultB %></p>
    <p class="card-text"><%= score.Description %></p>
    <p class="card-date"><%= score.Date %></p>
  
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
