<div class="row col-lg-12">
  <% @scores do |score| %>

<div class="card" style="width: 18rem;">
  <div style='display:flex'>
  <div><img src="<%= score.LogoA %>"></div>
  <div><img src="<%= score.LogoB %>"></div>
  </div>
    <div class="card-body">
      <h5 class="card-title"><%= score.TeamA %> vs <%= score.TeamB %></h5>
      <p class="card-score"><%= score.ResultA %> à <%= score.ResultB %></p>
      <p class="card-text"><%= score.Description %></p>
      <p class="card-date"><%= score.Date %></p>
    </div>
</div>

  <% end %>
  </div>
<%= link_to "New score", new_score_path %>

<style>
  img{
    width : 100px;
    height : 100px; 
  }
  .card {
    border-radius : 10px;
  }
  .card-body{
    grid-row: 3;
  }
</style>